#toc {
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--article-bg);
  padding: 1rem;
  box-shadow: 0px 0px 8px black;
  max-height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
}

#toc ul {
  margin: 0;
  padding: 0;
}

body.show-toc #toc {
  display: block;
}

#toc ul {
  list-style-type: none;
  text-align: right;
}

#toc a:before {
  content: '▸';
  visibility: hidden;
}

#toc a.active:before {
  visibility: visible;
}

@media (min-width: 900px) {
  #toc, #toc:target {
    display: block;
    box-shadow: none;
  }

  #toc {
    display: block !important;
    position: sticky;
    grid-column: 1;
    grid-row: 2;
    top: 0;
    border: none;
  }
}
